.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.titulo {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #000;
}


.login-form {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 15px;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: none;
  border-radius: 6px;
  background-color: #f3f3f3;
  font-size: 15px;
  outline: none;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

.clickable {
  cursor: pointer;
}

.info-details {
  background: #fdf2f2;
  border: 1px solid #e25b5b;
  border-radius: 8px;
  margin: 15px 0;
  text-align: left;
}

.info-details summary {
  padding: 10px;
  cursor: pointer;
  color: #e25b5b;
  font-weight: bold;
  font-size: 14px;
  outline: none;
}

.info-content {
  padding: 0 15px 15px 15px;
  font-size: 13px;
  color: #444;
  line-height: 1.5;
}

.info-content ul {
  padding-left: 18px;
  margin: 10px 0;
}

.info-content li {
  margin-bottom: 5px;
}

.footer-link {
  border-top: 1px solid #eccaca;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 12px;
}

/* Botão principal */
.btn-login {
  background-color: #000;
  color: #fff;
  border: 1.5px solid #000;
  border-radius: 30px;
  padding: 12px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.btn-login:hover {
  opacity: 0.85;
}

/* Botão SIGAA */
.btn-sigaa {
  color: #000;
  background-color: #fff;
  border: 1.5px solid #ccc;
  border-radius: 30px;
  padding: 12px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.btn-sigaa:hover {
  background-color: #f8f8f8;
}

.ufcg {
  width: 25px;
  height: 25px;
}

/* Link de cadastro */
.signup {
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  margin-top: 5px;
}

.signup:hover {
  text-decoration: underline;
}