.section-subtabs {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.section-subtabs button {
  background: #ededed;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.section-subtabs button.active {
  background: #d7d7d7;
  font-weight: bold;
}

@media screen and (max-width: 730px) {
  .section-subtabs {
    flex-direction: column;
    gap: 10px
  }
  
}
