.section-subtabs {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.section-subtabs button {
  background: #ededed;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.section-subtabs button.active {
  background: #d7d7d7;
  font-weight: bold;
}

button.done {
  background: #1e7f43;
  color: white;
  cursor: not-allowed;
}

.quiz-done {
  background: #e6f7ec;
  border: 2px solid #1e7f43;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}


@media screen and (max-width: 730px) {
  .section-subtabs {
    flex-direction: column;
    gap: 10px
  }
  
}
