.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar padrão */
.sidebar {
  width: 220px;
  background-color: #ffffff;
  color: #000;
  padding: 20px;
  transition: width 0.3s ease;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

/* Navegação */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #4cafef;
}

/* Área principal */
.conteudo {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f8;
  transition: margin-left 0.3s ease;
}

/* Responsividade */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -220px;
    top: 0;
    height: 100%;
    z-index: 100;
  }

  .sidebar.ativa {
    left: 0;
  }

  .conteudo {
    padding: 20px;
  }


  .btn-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  background: #000;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 200;
  display: none;
}

@media (max-width: 768px) {
  .btn-toggle {
    display: block;
  }
}
}
