
.layout {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #FFFF;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  /* z-index: 1000; */
}

.sidebar.ativa {
  transform: translateX(0);  margin-right: -100%;

}

.sidebar-header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.btn-toggle-open{
  position: fixed;
  left: 10px;
  top: 10px;
}

.btn-toggle-open, .btn-toggle-closed {
  /* position: fixed; */
  /* left: 10px;
  top: 10px; */
  /* z-index: 100; */
  background: #fff;
  color: #000000;
  border: none;
  padding: 1px 1px;
  cursor: pointer;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.conteudo {
  flex: 1;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.sidebar.ativa ~ .conteudo {
  /* margin-left: 250px; */
}

/* Estilização dos links */
.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar nav li {
  margin: 10px 0;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background 0.2s;
}

.sidebar nav a:hover {
  background-color: #ddd;
}

.sidebar nav a img {
  width: 20px;
  height: 20px;
}

.titulo {
  margin: 0 0 30px 0;
  font-size: 24px;
}