* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  overflow-x: hidden;
}


/* Container principal para centralizar toda a página */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 250px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

nav li {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

#menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: #1c1c1c;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: Inter, Inter;
}

.botaoquest,
.botaofeedback {
  display: flex;
  background-color: #1c1c1c;
  color: white;
  padding: 15px 400px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botaoquest:hover,
.botaofeedback:hover {
  background-color: #4d4c4c;
  color: white;
}




@media (max-width: 768px) {
  .menu-container {
    padding: 50px 150px;
    margin-top: 150px;
    min-height: 100vh;
  }

  .botaoquest,
  .botaofeedback {
    padding: 30px 15px;;
    font-size: 1em;
    width: 100%;
  }
}


